.jumbotron {
    text-align: center;
  }

#inputContainer {
  text-align: center;
} 

.inputDiv {
  margin-bottom: 20px;
}

.row {
  margin-bottom: 20px;
}

.col {
    text-align: center;
  }

.output {
    margin-top: 40px;
    display: none;
}

.BTC, .ETH, .ADA {
  text-align: left;
}



